<template name="addContact">


    <!-- IonModal = React.createClass({
    render() {
    return (
        <div className="modal-backdrop">
            <div className="modal-wrapper">
                <div className="modal">
                    <div className="bar bar-light bar-header">
                        <div className="content overflow-scroll">
                            <div className="padding">
                                {this.props.children}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    )
}
})
 -->



<div class="list">
    <label class="item item-input">
        <input id="addFirstName" type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
        <input id="addLastName" type="text" placeholder="Last Name">
    </label>
    <label class="item item-input">
        <input id="addGender" type="text" placeholder="Gender">
    </label>
    <label class="item item-input">
        <input id="addLatitude" type="text" placeholder="Latitude">
    </label>
    <label class="item item-input">
        <input id="addLongitude" type="text" placeholder="Longitide">
    </label>
    <label class="item item-input">
        <input id="addPhone" type="text" placeholder="Phone">
    </label>
    <label class="item item-input">
        <input id="addEmail" type="text" placeholder="Email">
    </label>
</div>
</template>