<template name = "keypad">
  <button id="btn1" type="button" class="btn {{button1class}}">1</button>
  <button id="btn2" type="button" class="btn {{button2class}}">2</button>
  <button id="btn3" type="button" class="btn {{button3class}}">3</button>
  <br>
  <button id="btn4" type="button" class="btn {{button4class}}">4</button>
  <button id="btn5" type="button" class="btn {{button5class}}">5</button>
  <button id="btn6" type="button" class="btn {{button6class}}">6</button>
  <br>
  <button id="btn7" type="button" class="btn {{button7class}}">7</button>
  <button id="btn8" type="button" class="btn {{button8class}}">8</button>
  <button id="btn9" type="button" class="btn {{button9class}}">9</button>
</template>